name: Code quality check

on:
  workflow_dispatch:

  push:
    branches: main

  pull_request:
    branches: main

jobs:
  run-quality-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.11"

      - name: "Check Code Quality"
        run: |
            python3 -m pip install -r requirements-dev.txt
            python3 -m isort ./ --check
            python3 -m black ./ --check
            python3 -m ruff check ./
            python3 -m pip install .
            python3 -m mypy oneliner
